* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', 'Segoe UI', Arial, sans-serif;
}

body {
  background-color: #fff;
  color: #333;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
}

#locations, #about {
  margin-top: 80px;
}

.pt-16 {
  padding-top: 64px;
}

.animate-fadeIn {
  animation: fadeIn 1s ease-in;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}
.testimonials{
    display: none;
}
/* Tablet Styles (768px-1279px) */
@media (min-width: 768px) and (max-width: 1479px) {
  .instagram-logo{
    color:rgb(225, 0, 0) !important
  }
  #locations, #about {
    margin-top: 80px;
  }
   
  .burger-btn,#burgerito{
    display: none ;
  }
}

/* Mobile Styles (below 768px) */
@media (max-width: 767px) {
  #locations, #about {
    margin-top: 60px;
  }
  
  .header{
        background:green;}
.burger-btn,#burgerito{
    display: block ;
  }
  .pt-16 {
    padding-top: 64px;
  }
}